body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('/projeto/imag/bg-pattern.png');
    background-color: #52100e;

}


header {
    background-color: #850f0f;
    color: #fff;
    padding: 10px;
    display: flex;
    border: 2px solid #000000;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ffcc00;
}

/*tela de login*/

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;


}

.login-card {
    width: 300px;
    padding: 20px;
    border: 1px solid #121111;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: #ccc;
}


.login-card h2 {
    text-align: center;

}

.form-group {
    margin-bottom: 20px;
    margin-right: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-login {
    width: 100%;
    background-color: #982a25;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

}

.btn-login:hover {
    background-color: #52100e;
}

.btn-2 {
    width: 100%;
    background-color: #982a25;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-2:hover {
    background-color: #52100e;
}

.aa {
    margin-top: 10px;
    text-align: left;

}

.aa :hover {
    color: rgb(0, 0, 219);
    text-decoration: underline;
}

.img-container {
    flex: 1;
    text-align: right;
    padding-right: 20px;
}

.img-fluid {

    max-width: 100%;
    height: auto;

}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        align-items: center;
    }

    .img-container {
        text-align: center;
        padding-right: 0;
        margin-bottom: 20px;
    }
}



/* pagina1 codigo do indio*/

.main-box {
    position: absolute;
    width: 900px;
    background-color: #240000;
    right: 0;
    left: 0;
    margin-top: 300px;
    margin-right: auto;
    margin-left: auto;
    min-height: 1100px;
    z-index: 100;
}

.main-title {
    position: relative;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 22px;
    color: white;
}

.main-content {
    padding-top: 30px;
    padding-left: 0px;
    font-size: 22px;
    color: white;
}

.top-img {
    display: flex;
    margin: 0 auto;
    width: 100%;


}

.top {
    top: 48px;
    position: absolute;
    font-size: 22px;
    color: white;
}

.minha-box1 {
    width: 200px;
    height: 200px;
    background-color: #0a0808;
    padding: 30px;
    margin: 20px;
    position: absolute;
    top: 425px;
    left: 235px;
    z-index: 900;
}

.container {
    width: 220px;
    height: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #c9c8c4;
    padding: 20px;
    border-radius: 0px;
    z-index: 10000;
}

p {
    color: #000000;
    text-align: left;
    position: absolute;
    top: -20px;
    left: 0px;
}

.container-img {
    position: absolute;
    margin-top: -10px;
    right: 0px;
    border-radius: 10px;
    border-color: #d9d9d9;
    z-index: 10000;

}



.minha-box2 {
    width: 200px;
    height: 200px;
    background-color: #0a0808;
    padding: 30px;
    margin: 20px;
    position: absolute;
    top: 425px;
    left: 539px;
    z-index: 1000;
}

.minha-box3 {
    width: 200px;
    height: 200px;
    background-color: #0a0808;
    padding: 30px;
    margin: 20px;
    position: absolute;
    top: 425px;
    left: 840px;
    z-index: 1000;
}