body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('/projeto/imag/bg-pattern.png');
    background-color: #52100e;

}



.main-box {
    position: relative;
    width: 80%;
    max-width: 1392px;
    margin: 0 auto;
    background-color: #240000;
    min-height: 800px;
    z-index: 1;
}

.top-img {
    display: block;
    margin: 0 auto;
    height: 350px;
}

.top {
    width: 100%;
    top: 0;
    position: absolute;
    font-size: 22px;
    color: white;
    z-index: 3;
    /* Ajuste conforme necessário */
}

.product-container {
    display: flex;
    justify-content: space-between;
    /* Adição: Espaço uniforme entre os elementos */
    position: relative;
    /* Adição: Para que o posicionamento absoluto funcione dentro do flex container */
}

.product-image-container {
    flex: 1;
    margin-top: 60px;
}


.product-image img {
    width: 100%;
    /* Ajuste conforme necessário */
    height: 100%;
    /* Ajuste conforme necessário */
    display: block;
}



.product-details {
    flex: 1;
    padding: 20px;
}

.destaque {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    z-index: 2;
    /* Ajuste conforme necessário */
}

.Texto {
    color: #f5f5dc;
    /* Bege Claro */
    font-style: italic;
    font-family: monospace;
    font-size: 48px;
    margin-bottom: 0px;
}

.description {
    color: #d3d3d3;
    font-size: 30px;
    line-height: 1.6;
    font-family: 'Merriweather', serif;
}