body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('bg-pattern.png');
    background-color: #000000;
}

#navbar {
    background-color: #850f0f;
    color: #fff;
    padding: 20px;
    border: 2px solid #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#navbar ul li {
    margin-right: 50px;
}

#navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

#navbar ul li a:hover {
    color: #ffcc00;
}

.main-box {
    position: relative;
    width: 80%;
    max-width: 1392px;
    margin: 0 auto;
    background-color: #240000;
    min-height: 200px;
    z-index: 1;
}

.top-img {
    display: flex;
    margin: 0 auto;
    height: 400px;
    width: 100%;
}

.top {
    width: 100%;
    top: 0;
    position: absolute;
    font-size: 22px;
    color: white;
    z-index: 3;
}

.product-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buy-link:hover {
    background-color: red;
}

.buy-link {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #52100e;
    border: 2px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translateX(-50%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px 60px;
}

.product-image-container {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.product-image img {
    width: 100%;
    height: auto;
    display: block;
}

.product-details {
    flex: 1;
    padding: 20px;
}

.destaque {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    z-index: 2;
}

.Texto {
    color: white;
    font-style: italic;
    font-family: monospace;
    font-size: 48px;
    position: relative;
    left: 140px;
}

.texto2 {
    color: white;
    font-style: italic;
    font-family: monospace;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.icon-img {
    width: 50px;
    height: auto;
    margin-left: 0;
}

.product-image {
    position: relative;
}

.price {
    color: white;
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}



.description {
    color: white;
    font-size: 29px;
    line-height: 1.6;
    font-family: 'Merriweather', serif;
    font-weight: lighter;
}

.color-palette {
    display: flex;
    margin-top: 10px;
}

.color {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: -90px;
    margin-left: 120px;
    top: -400px;
}

.color.selected {
    border: 2px solid #3d3b3b;
}

.Cores {
    color: #d3d3d3;
    font-size: 42px;
    line-height: 1.6;
    font-family: 'Merriweather', serif;
    flex: 1;
    padding: 10px;
    Margin-left: 20px;
    top: 40px;
}

.Texto1 {
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 32px;
    left: 8%;
    position: relative;
    /* Adiciona esta linha */
}

.stats-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

.stats-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.stats-item {
    margin-bottom: 20px;
}

.stat-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: white;
}

.stat-bar {
    width: 100%;
    height: 20px;
    background-color: #333;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    max-width: 40%;
}

.fill-bar {
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}

.icon-img {
    width: 180px;
    height: auto;
    margin-left: 200px;
    margin-left: 40px;
    top: -400px;
}

footer.main-pe {
    background-color: #000;
    color: #c0c0c0;
    padding: 10px;
    bottom: 0;
    position: relative;
}

footer {
    background-color: #000;
    color: #c0c0c0;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 98, 5%;
    margin: 0 auto;
    clear: both;
}

.logos-rodape img {
    margin-right: 50px;
}